/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'PT Root UI' ;
    src: url(fonts/f82344daaacb5424b169.woff),
    url(fonts/f31c5219b0912845f393.woff2);
    font-weight: 700;
}
@font-face {
    font-family: 'PT Root UI' ;
    src: url(fonts/e24244df074291681cd3.woff),
    url(fonts/6f2ccf4ac327e1d6507e.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'PT Root UI' ;
    src: url(fonts/ea7178e3e5d27a1d3248.woff),
    url(fonts/b43dba986b9cde356afd.woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'PT Root UI' ;
    src: url(fonts/8bf08d3a5b04f523d0d4.woff),
    url(fonts/f0497492db8214d4938e.woff2);
    font-weight: 300;
}
body {
    font-family: 'PT Root UI' ;
}
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 500;
}
h3 {
    font-weight: 400;
}
h4 {
    font-weight: 300;
}

